body {
  margin: 0;
  font-family: "Nunito", 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .ant-typography {
    font-family: "Nunito", 'Helvetica Neue', sans-serif !important;
  }
}

.link {
  color: #64ebfd; /* Very light blue */
  text-decoration: none;
}

.link:visited {
  color: #eeb7ff; /* Very light purple */
  text-decoration: none;
}
